@model ImageGallery.Client.ViewModels.OrderFrameViewModel
@{
    ViewData["Title"] = "OrderFrame";
}

<h2>OrderFrame</h2>

<div class="container">
    <div class="h3 text-danger"> @Model.Address</div>
</div>