
@{
    ViewData["Title"] = "AccessDenied";
}

<h2 class="text-danger">AccessDenied</h2>

@if (User.Identity.IsAuthenticated)
{
    <li><a asp-area="" asp-controller="Gallery" asp-action="Logout">Logout</a></li>
}